@font-face {
  font-family: Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  font-family: x;
  margin: 0, auto;
}

h1 {
  text-align: center;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

ul li {
  margin-bottom: 20px;
}
